[submodule "evolver-controller"]
	path = evolver-controller
	url = https://github.com/pbert5/evolver-controller.git
[submodule "evolver-hardware"]
	path = evolver-hardware
	url = https://github.com/pbert5/evolver-hardware.git
[submodule "evolver-server"]
	path = evolver-server
	url = https://github.com/pbert5/evolver-server.git
[submodule "metactl"]
	path = metactl
	url = https://github.com/pbert5/metactl.git
[submodule "refference/meta_webui_demo"]
	path = refference/meta_webui_demo
	url = https://github.com/pbert5/meta_webui_demo.git
