[submodule "evolver-controller"]
	path = evolver/evolver-controller
	url = ../evolver-controller.git
[submodule "evolver-hardware"]
	path = evolver/evolver-hardware
	url = ../evolver-hardware.git
[submodule "evolver-server"]
	path = evolver/evolver-server
	url = ../evolver-server.git
[submodule "metactl"]
	path = metactl
	url = ../metactl.git
[submodule "refference/meta_webui_demo"]
	path = refference/meta_webui_demo
	url = ../meta_webui_demo.git
